.App {
  background-color: #F6F9FC;
  min-height: 100vh;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  /* background-color: #282c34; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* font-size: calc(10px + 2vmin); */
  color: white;
}

.App-link {
  color: #61dafb;
}

.feedback-table {
  display: flex;
  flex-direction: column;
    margin: auto;
    width: 80%;

}

.feedback-header {
  font-size: 1.7rem;
  line-height: 3rem;
  margin: 3rem 0 2rem;
}

.feedback-row {
  display: flex;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  margin-bottom: 0.625rem;
  border-radius: 0.25rem;
}

.fb-item-row {
  background-color: #FFF;
  color: #1d0e0e;
  font-size: 0.875rem;
  font-weight: 300;
}

.fb-ind-item{
  flex: 1;
}

.align-to-center {
  align-items: center;
}

/* 
---------------------------------------------
preloader
--------------------------------------------- 
*/
.loader-wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 99999;
  background: #F9FAFF;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader-wrapper .loader {
  position: relative;
  width: 45px;
  height: 45px;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  animation: spin 2s ease-in-out infinite;
}

.loader-wrapper .loader .bubble-1,
.loader-wrapper .loader .bubble-2,
.loader-wrapper .loader .bubble-3 {
  position: absolute;
  top: 0;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  background-image: linear-gradient(135deg, #008BB4 0%, #56C3B0 100%);
}

.loader-wrapper .loader .bubble-2 {
  top: auto;
  bottom: 0;
}

.loader-wrapper .loader .bubble-3 {
  top: auto;
  bottom: 0;
  right: 0;
}

.loader-wrapper .loader .bubble-1, .loader-wrapper .loader .bubble-2, .loader-wrapper .loader .bubble-3 {
  animation: bounce 2s ease-in-out infinite;
}

.loader-wrapper .loader .bubble-2 {
  animation-delay: -0.8s;
}

.loader-wrapper .loader .bubble-3 {
  animation-delay: -1.2s;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes bounce {
  0%, 100% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.brush .extent {
  stroke: #000;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}

.brush .background {
  fill: #ddd;
}
